<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daivos puslapis</title>
</head>
<body style="background-color:#f9ea96">
    <h1>Studentė</h1>
    <h2>Daiva Reinikė</h2>
    <p>Kadangi šiandien graži ir saulėta diena, štai jums paveikslėlis:</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Eight-Fold_Screen_Painting_of_the_Sun%2C_Moon_and_Peach_Trees_02.jpg/640px-Eight-Fold_Screen_Painting_of_the_Sun%2C_Moon_and_Peach_Trees_02.jpg" alt="Painting of sun" width="300">
    <hr>
    <a href="/">atgal į PTU8 grupės puslapį</a>
</body>
</html>