<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link href="/static/gallery_style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Gallery</h1>
        <div class="gallery">
            <figure class="gallery__item gallery__item--1">
                <img src="https://images.pexels.com/photos/2923591/pexels-photo-2923591.jpeg?auto=compress&cs=tinysrgb&w=1200" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="https://images.pexels.com/photos/3739343/pexels-photo-3739343.jpeg?auto=compress&cs=tinysrgb&w=1200" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--3">
                <img src="https://images.pexels.com/photos/3876328/pexels-photo-3876328.jpeg?auto=compress&cs=tinysrgb&w=1200" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--4">
                <img src="https://images.pexels.com/photos/1823704/pexels-photo-1823704.jpeg?auto=compress&cs=tinysrgb&w=1200" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--5">
                <img src="https://images.pexels.com/photos/3331837/pexels-photo-3331837.jpeg?auto=compress&cs=tinysrgb&w=1200" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--6">
                <img src="https://images.pexels.com/photos/3345875/pexels-photo-3345875.jpeg?auto=compress&cs=tinysrgb&w=1200" class="gallery__img">
            </figure>
        </div>
    </div>
</body>
</html>